.flex-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.info-container{
    /*display: inline-block;*/
    /*vertical-align: top;*/
    padding: 0 0 0 5px;
}