.supported{
  padding: 50px 50px;
  background-color: #EEEEEE;
  text-align: left;
}
.supported__img-p{
  overflow: hidden;
  padding-bottom: 30px;
  border-bottom: 2px solid #E9E9EA;
}
.supported__img{
  float: left;
}
.supported__heading{
  float: left;
  text-transform: uppercase;
  color: #000;
  font-family: 'PT Sans', sans-serif;
  font-weight: 900;
  padding-left: 40px;
  line-height: 30px;
}
.supported__button-read-more{
  color: #fff;
  background-color: #D2D5DA;
  border-radius: 30px;
  padding: 0 25px;
  box-shadow: 5px 0 10px rgba(0,0,0,0.2);
  text-align: center;
  height: 37px;
  display: inline-block;
  font-family: 'PT Sans', sans-serif;
  line-height: 37px;
}