.templates{
  display: flex;
  padding: 50px 70px;
  background-color: #F5F5F5;
  justify-content: space-between;
}
.templates__section{
  width: 45%;
  text-align: left;
}
.templates__heading{
  text-transform: uppercase;
  color: #000;
  font-family: 'PT Sans', sans-serif;
  font-weight: 900;
  border-bottom: 2px solid #E9E9EA;
  padding-bottom: 20px;
  padding-top: 30px;
  line-height: 1px;
  text-align: left;
}
.templates__text{
  color: #C6CBD1;
  font-family: 'PT Sans', sans-serif;
  padding-top: 30px;
  padding-bottom: 40px;
  line-height: 30px;
  text-align: left;
}
.templates__button-read-more{
  color: #fff;
  background-color: #50C3AF;
  border-radius: 30px;
  padding: 0 25px;
  box-shadow: 5px 0 10px rgba(0,0,0,0.2);
  text-align: center;
  height: 37px;
  display: inline-block;
  font-family: 'PT Sans', sans-serif;
  line-height: 37px;
}
.templates-images{
  padding: 50px 50px;
  background-color: #F5F5F5;
}
.templates-images__menu{
  display: flex;
  justify-content: space-between;
}
.templates-images__templates-menu-item{
  width: 30%;
  text-align: left;
}
.templates-images__button-check-this-out{
  color: #50C3AF;
  font-family: 'PT Sans', sans-serif;
  font-weight: 500;
  text-align: left;
}
.templates__img-just-for-you-heading{
  display:inline;
  margin-left:10px;
}