body {
  margin: 0;
  font-size: 14px;
  line-height: 16px;
  font-family: 'Raleway', sans-serif;
}
* {
  box-sizing: border-box;
}
.header__subheading {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.header__subheading:before {
  content: '';
  border-top: 2px solid #526B72;
  margin: 0 20px 0 0;
  flex: 1 0 20px;
}
.header__subheading:after {
  content: '';
  border-top: 2px solid #526B72;
  margin: 0 20px 0 0;
  flex: 1 0 20px;
}
.header__subheading:before {
  margin: 0 38px 0 134px;
}
.header__subheading:after {
  margin: 0 134px 0 38px;
}
.header__subheading {
  margin: 21px 0;
  font: 700 15px 'PT Sans', sans-serif;
  color: #FFF;
  text-transform: uppercase;
  padding-bottom: 59px;
}
.wrapper {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  outline: 1px solid #ffffff;
}
.header {
  background-image: url("../img/2-crop.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  padding-top: 64px;
  padding-bottom: 122px;
  text-align: center;
}
.header__elena {
  display: block;
  margin: 0 auto 28px;
  width: 109px;
  height: 44px;
  cursor: pointer;
}
.header__link:hover {
  text-decoration: underline;
}
.header__menu {
  padding-top: 18px;
  text-transform: uppercase;
  display: inline-block;
}

.header__menu-item {
  float: left;
  padding-left: 36px;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
}

.header__menu-item:first-child {
  padding-left: 0;
}
.header__heading {
  font-size: 52px;
  font-weight: 600;
  text-align: center;
  padding-bottom: 8px;
  padding-top: 65px;
  color: #fff;
  line-height: 57px;
  text-transform: uppercase;
  font-family: 'Ubuntu', sans-serif;
  font-style: normal;
  font-variant: normal;
}
.header__button-get-your-copy-now {
  color: #fff;
  background-color: #50C3AF;
  border-radius: 30px;
  padding: 0 40px;
  box-shadow: 5px 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  height: 47px;
  display: inline-block;
  text-transform: uppercase;
  font-family: 'PT Sans', sans-serif;
  line-height: 47px;
}